<h2>Exercise Types</h2>

<a href="/workouts/type/chest">Chest</a>
<a href="/workouts/type/back">Back</a>
<a href="/workouts/type/arms">Arms</a>
<a href="/workouts/type/legs">Legs</a>
<a href="/workouts/type/abs">Abs</a>
<a href="/workouts/type/cardio">Cardio</a>

{{!-- {{#each workouts}}

    <a href="/workouts/details/{{_id}}">
        <p>{{workoutType}}</p>  
    </a>
    <p>{{duration}} minutes</p>
    <p>added by: {{username}}</p> 
    <hr>

{{/each}} --}}
