<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>

      <div id="nav-links">
        <a href="/">Home</a>
        <a href="/workouts">Workouts</a>
        <a href="/workouts/create">Add Workout</a>
      </div>

      <div id="nav-buttons">
        <form action="/auth/signup" method="get">
          <button type="submit">Signup</button>
        </form>
        <form action="/auth/login" method="get">
          <button type="submit">Login</button>
        </form>
        <form action="/auth/logout" method="get">
          <button type="submit">Logout</button>
        </form>
      </div>

    </nav>



    {{{body}}}
  </body>
</html>
