body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#nav-links {
  width: 50vw;
  display: inline-flex;
  justify-content: space-between;
}

#nav-buttons {
  display: inline-flex;
  justify-content: space-between;
}