<h1 class="m-3 fw-bold text-white">All Routines</h1>

    {{#each routines}}

        <a href="/routines/routine-details/{{_id}}">{{routineName}}</a>
        <p>Added by: {{username.username}}</p>
        <hr>

    {{/each}}